<!-- Extend base file -->
{% extends "base.html" %}

<!-- Load static files -->
{% load static %}

<!-- Create title -->
{% block title %}
    Broadway - Home
{% endblock %}

<!-- Load assets -->
{% block assets %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

<!-- Main content -->
{% block content %}
    {% if user.is_authenticated %}
        <!-- Main index page -->
        <h1>Logged in: Index</h1>
    {% else %}
        <div class="login">
            <div class="logo">Broadway</div>
            <div class="btn-container">
                <a href="{% url 'login' %}" class="btn">Login</a>
                <a class="btn accent">Sign Up</a>
            </div>
        </div>
    {% endif %}
{% endblock %}
