::-moz-selection {
  background: transparent; }

::selection {
  background: transparent; }

::-moz-selection {
  background: transparent; }

::-webkit-scrollbar {
  width: 5px;
  height: 5px; }

::-webkit-scrollbar-track {
  background: #EEEEEE; }

::-webkit-scrollbar-thumb {
  background: #2196F3; }
