::-moz-selection {
  background: transparent; }

::selection {
  background: transparent; }

::-moz-selection {
  background: transparent; }

::-webkit-scrollbar {
  width: 5px;
  height: 5px; }

::-webkit-scrollbar-track {
  background: #F9F9F9; }

::-webkit-scrollbar-thumb {
  background: #2196F3; }

.menu {
  display: block;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background: #FFFFFF;
  padding: 1rem 0;
  text-align: center;
  z-index: 99;
  border-bottom: solid 1px #EEEEEE; }
  .menu .menu-item {
    display: block;
    position: relative;
    text-decoration: none;
    color: inherit;
    float: right;
    height: 4rem;
    width: 3rem;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease; }
    .menu .menu-item:hover {
      color: #009688; }
    .menu .menu-item svg, .menu .menu-item i {
      display: inline-block;
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
  .menu .logo {
    display: block;
    position: relative;
    text-decoration: none;
    color: inherit;
    font-family: "Playfair Display", serif;
    font-weight: bolder;
    font-size: 2rem;
    height: 2rem;
    width: auto;
    padding: 0.75rem 0; }
    .menu .logo::after {
      content: '';
      display: block;
      position: relative;
      background: #2196F3;
      width: 60%;
      height: 0.2rem;
      -webkit-transform: translateY(-33%);
      -ms-transform: translateY(-33%);
      transform: translateY(-33%); }
    .menu .logo:hover {
      color: #212121; }
    .menu .logo.menu-item {
      float: left; }
    .menu .logo .text {
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
  .menu .container {
    height: 4rem; }
