::-moz-selection {
  background: transparent; }

::selection {
  background: transparent; }

::-moz-selection {
  background: transparent; }

::-webkit-scrollbar {
  width: 5px;
  height: 5px; }

::-webkit-scrollbar-track {
  background: #F9F9F9; }

::-webkit-scrollbar-thumb {
  background: #2196F3; }

.profile-outer {
  text-align: center;
  vertical-align: middle; }

.profile {
  display: inline-table;
  vertical-align: top;
  height: auto;
  position: relative; }
  .profile.profile-picture img {
    -o-object-fit: cover;
    object-fit: cover;
    height: 8rem;
    width: 8rem;
    display: block;
    position: relative;
    border-radius: 50%; }
  .profile.profile-data {
    margin: 1rem;
    font-family: "Lato", sans-serif;
    text-align: left; }
    .profile.profile-data .username {
      margin: 0;
      padding: 0;
      font-weight: 300;
      font-size: 2rem; }
    .profile.profile-data .data-outer {
      margin: 0 0 10px 0;
      font-weight: 300;
      font-size: 1.25rem; }
    .profile.profile-data .data {
      margin: 0 10px 0 0;
      font-weight: 400;
      font-size: 1rem; }
      .profile.profile-data .data .interactions {
        font-weight: bolder; }
