{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>
            {% block title %}
            {% endblock %}
        </title>
        <link rel="stylesheet" href="{% static 'css/main.css' %}" />
        <link rel="stylesheet" href="{% static 'css/menu.css' %}" />
        <link rel="stylesheet" href="{% static 'css/normalize.min.css' %}" />
        <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js"
        integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+"
        crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"
        type="text/javascript"></script>
        <!-- Assets -->
        {% block assets %}
        {% endblock %}
    </head>
    <body>
        <div class="search-view">
            <div class="search-block">
                <input class="search-field" type="text" name="" value="Search">
            </div>
        </div>
        <div class="main">
        {% if user.is_authenticated %}
            <div class="menu">
                <div class="container">
                    <a href="{% url 'index' %}" class="logo menu-item">
                        <div class="text">Broadway</div>
                    </a>
                    <a class="menu-item" href="{% url 'logout' %}">
                        <i class="fas fa-sign-out-alt"></i>
                    </a>
                    <a class="menu-item" href="{% url 'profile' %}">
                        <i class="fas fa-user"></i>
                    </a>
                    <a class="menu-item" href="{% url 'user_watchlist' %}">
                        <i class="fas fa-heart"></i>
                    </a>
                    <a class="menu-item search" href="#">
                        <i class="fas fa-search"></i>
                    </a>
                </div>
            </div>
        {% else %}
        {% endif %}
        <!-- Main content -->
        {% block content %}
        {% endblock %}
    </div>
    <script type="text/javascript" src="{% static 'js/search.js' %}"></script>
    {% block scripts %}
    {% endblock %}
    </body>
</html>
