{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>
            {% block title %}
            {% endblock %}
        </title>
        <link rel="stylesheet" href="{% static 'css/main.css' %}" />
        <link rel="stylesheet" href="{% static 'css/menu.css' %}" />
        <link rel="stylesheet" href="{% static 'css/normalize.min.css' %}" />
        <!-- Assets -->
        {% block assets %}
        {% endblock %}
    </head>
    <body>
        {% if user.is_authenticated %}
            <div class="menu">
                <div class="container">
                    <div class="menu-item logo">
                        <div class="text">Broadway</div>
                    </div>
                    <!-- <div class="menu-item search"> -->
                        <!-- <input type="text" name="" value=""> -->
                    <!-- </div> -->
                    <div class="menu-item">Hello</div>
                    <div class="menu-item">World</div>
                    <div class="menu-item">Menu</div>
                </div>
            </div>
        {% else %}
        {% endif %}
        <!-- Main content -->
        {% block content %}
        {% endblock %}
    </body>
</html>
