@import "settings.scss";
@import url('https://fonts.googleapis.com/css?family=Lato|Playfair+Display');

// Font smoothing
html {
    // Anti-alias test
    -moz-osx-font-smoothing: grayscale;
     -webkit-font-smoothing: antialiased;

    // Change text rendering format
    text-rendering: optimizeLegibility;

    // Change text kerning
    -webkit-font-feature-settings: "kern";
       -moz-font-feature-settings: "kern";
            font-feature-settings: "kern";

    // Change perspective setting
    -webkit-perspective: 1000;
}

// Body default settings
body{
    // Set width and min height
    width: 100%;
    min-height: 100vh;
    // Set background color
    background: $wd;
}

.btn {
    text-decoration: none;
    display: inline-block;
    padding: 0.75rem 1rem;
    background: $pd;
    color: $wl;
    border: none;
    outline: none;
    box-shadow: none;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    background: $pm;
    &.accent {
        background: lighten($ac, 5%);
    }
}

input[type='text'],
input[type='password'],
input[type='email']{
    display: block;
    position: relative;
    width: 75%;
    margin: 5px auto;
    padding: 0.75rem 1rem;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: $bl;
    border: solid 2px rgba($bl, 0.125);
    outline: none;
}
