@import "settings.scss";
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

// Font smoothing
html {
    // Anti-alias test
    -moz-osx-font-smoothing: grayscale;
     -webkit-font-smoothing: antialiased;

    // Change text rendering format
    text-rendering: optimizeLegibility;

    // Change text kerning
    -webkit-font-feature-settings: "kern";
       -moz-font-feature-settings: "kern";
            font-feature-settings: "kern";

    // Change perspective setting
    -webkit-perspective: 1000;
}

body {
    background: $wd;
}

.navbar-brand {
    font-family: "Playfair Display";
    font-weight: 100;
    font-size: 2rem;
}

.search-view {
    position: fixed;
    background: rgba(#000, 0.9);
    width: 100%;
    height: 100%;
    z-index: 99;
    display: none;
    .search-block {
        position: relative;
        top: 50%;
        transform: translateY(-75%);
    }
    input[type='text'] {
        border: none;
        background: $bl;
        color: $wl;
        text-align: center;
        font-size: 2rem;
        font-weight: 300;
        margin: 0 auto;
        padding: 2rem 1rem;
    }
}
