@import "settings.scss";

.masthead {
    display: block;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background: $wd;
    padding: 1rem 0;
    text-align: center;
    .logo {
        display: inline-block;
        position: relative;
        text-decoration: none;
        color: inherit;
        font-family: "Playfair Display", serif;
        font-weight: bolder;
        font-size: 2.5rem;
        padding: 2rem 4rem;
        background: $wl;
        &::after{
            content: '';
            display: block;
            position: relative;
            background: $pm;
            width: 60%; height: 0.3rem;
        }
    }
    .container {
        background: $wl;
    }
}

.menu {
    display: block;
    position: fixed;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    .menu-item {
        display: inline-block;
        position: relative;
        text-decoration: none;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        margin: 0 0.25rem;
        color: $wl;
        background: $pm;
        transition: all 0.25s ease;
        svg, i {
            display: block;
            position: relative;
            margin: auto;
            top: 50%;
            transform: translateY(-50%);
        }
        &:hover {
            background: $ac;
        }
    }
}
