@import "settings";

.profile-outer {
    text-align: center;
    vertical-align: middle;
}

.profile {
    display: inline-table;
    vertical-align: top;
    height: auto;
    position: relative;
    &.profile-picture {
        img {
            object-fit: cover;
            height: 8rem;
            width: 8rem;
            display: block;
            position: relative;
            border-radius: 50%;
        }
    }
    &.profile-data {
        margin: 1rem;
        font-family: "Lato", sans-serif;
        text-align: left;
        .username {
            margin: 0;
            padding: 0;
            font-weight: 300;
            font-size: 2rem;
        }
        .data-outer {
            margin: 0 0 10px 0;
            font-weight: 300;
            font-size: 1.25rem;
        }
        .data {
            margin: 0 10px 0 0;
            font-weight: 400;
            font-size: 1rem;
            .interactions {
                font-weight: bolder;
            }
        }
        @media #{$mq} {
            text-align: center;
            display: block;
            .data {
                display: inline-block;
            }
        }
    }
}

.btn-container {
    width: 100%;
    text-align: center;
    .btn {
        display: inline-block;
    }
}
