<!-- Extend base file -->
{% extends "base.html" %}

<!-- Load static files -->
{% load static %}

<!-- Create title -->
{% block title %}
    Broadway - Edit Profile
{% endblock %}

<!-- Load assets -->
{% block assets %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

<!-- Main content -->
{% block content %}
    {% if user.is_authenticated %}
        <div class="login left relative">
            <h3>Edit Profile</h3>
            <p class="small">Username: {{ user.username }}</p>
            <p class="small">Email: {{ user.email }}</p>
            <div class="form-container">
                <!-- Main index page -->
                <form action="{% url 'edit' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% if form.name.errors %}
                        {{ form.name.errors }}
                    {% endif %}
                    <p>Name:</p>
                    {{ form.name }}
                    {% if form.bio.errors %}
                        {{ form.bio.errors }}
                    {% endif %}
                    <p>Bio:</p>
                    {{ form.bio }}
                    {% if form.profile_picture.errors %}
                        {{ form.profile_picture.errors }}
                    {% endif %}
                    <p>Profile Picture:</p>
                    {{ form.profile_picture }}
                    <div class="button-group margin">
                        <input class="btn" type="submit" value="Update"/>
                        <input type="hidden" name="next" value="/"/>
                    </div>
                </form>
            </div>
        </div>
    {% else %}
        <a href="{% url 'login' %}" class="btn btn-edit">Login</a>
    {% endif %}
{% endblock %}
