<!-- Extend base file -->
{% extends "base.html" %}

<!-- Load static files -->
{% load static %}

<!-- Create title -->
{% block title %}
    Broadway - Edit Profile
{% endblock %}

<!-- Load assets -->
{% block assets %}
<!-- <link rel="stylesheet" href="{% static 'css/login.css' %}"> -->
<style media="screen">
    a {word-wrap: break-word;}
</style>
{% endblock %}

<!-- Main content -->
{% block content %}
    {% if user.is_authenticated %}
    <div class="my-4 p-4 bg-white box-shadow">
        <h6 class="border-bottom border-gray pb-2 mb-0">
            Edit Profile
        </h6>
        <form class="mt-4" action="{% url 'edit' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group row">
                      <label class="col-md-2 col-form-label">Username:</label>
                      <div class="col-md-10">
                          <input type="text" class="form-control" value="{{ user.username }}" disabled/>
                      </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group row">
                      <label class="col-md-2 col-form-label">Email:</label>
                      <div class="col-md-10">
                          <input type="text" class="form-control" value="{{ user.email }}" disabled/>
                      </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group row">
                      <label for="id_name" class="col-md-2 col-form-label">Name:</label>
                      <div class="col-md-10">
                        <input type="text" class="form-control" name="name" maxlength="32" id="id_name" value="{{ profile.name }}"/>
                      </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group row">
                      <label for="id_name" class="col-md-2 col-form-label">Bio:</label>
                      <div class="col-md-10">
                          <textarea class="form-control" name="bio" cols="40" rows="10" maxlength="512" id="id_bio">{{ profile.bio }}</textarea>
                      </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group row">
                      <label for="id_name" class="col-md-2 col-form-label">Profile picture:</label>
                      <div class="col-md-10">
                          {{ form.profile_picture }}
                      </div>
                    </div>
                </div>
            </div>
            <input class="btn btn-lg btn-primary" type="submit" value="Update"/>
            <input type="hidden" name="next" value="/"/>
        </form>
    </div>
        <!-- <div class="login left relative"> -->
            <!-- <h3>Edit Profile</h3>
            <p class="small">Username: {{ user.username }}</p>
            <p class="small">Email: {{ user.email }}</p>
            <div class="form-container">
                <form action="{% url 'edit' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% if form.name.errors %}
                        {{ form.name.errors }}
                    {% endif %}
                    <p>Name:</p>
                    {{ form.name }}
                    {% if form.bio.errors %}
                        {{ form.bio.errors }}
                    {% endif %}
                    <p>Bio:</p>
                    {{ form.bio }}
                    {% if form.profile_picture.errors %}
                        {{ form.profile_picture.errors }}
                    {% endif %}
                    <p>Profile Picture:</p>
                    {{ form.profile_picture }}
                    <div class="button-group margin">
                        <input class="btn" type="submit" value="Update"/>
                        <input type="hidden" name="next" value="/"/>
                    </div>
                </form>
            </div>
        </div> -->
    {% else %}
        <a href="{% url 'login' %}" class="btn btn-edit">Login</a>
    {% endif %}
{% endblock %}
