<!-- Extend base file -->
{% extends "base.html" %}

<!-- Load static files -->
{% load static %}

<!-- Create title -->
{% block title %}
    Broadway - Profile
{% endblock %}

<!-- Load assets -->
{% block assets %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

<!-- Main content -->
{% block content %}
<div class="container">
    <div class="section transparent profile-outer">
        <div class="profile profile-picture">
            <img src="{% static 'assets/user_images/default.png' %}">
        </div>
        <div class="profile profile-data">
            <h1 class="username">{{user.username}}</h1>
            <p class="data-outer">
                {{ profile.bio }}
            </p>
            <p class="data-outer">
                <span class="data"><span class="interactions">{{ profile.followers }}</span> followers</span>
                <span class="data"><span class="interactions">{{ profile.following }}</span> following</span>
                <span class="data"><span class="interactions">0</span> posts</span>
            </p>
        </div>
    </div>
    <!-- <div class="section">

    </div> -->
    <!-- <form action="{% url 'profile' %}" method="post">
        {{ user.username }}
        {{ user.email }}
        {% csrf_token %}
        {% if form.name.errors %}
            {{ form.name.errors }}
        {% endif %}
        {{ form.name }}
        {% if form.bio.errors %}
            {{ form.bio.errors }}
        {% endif %}
        {{ form.bio }}
        {% if form.profile_picture.errors %}
            {{ form.profile_picture.errors }}
        {% endif %}
        {{ form.profile_picture }}
        <div class="button-group">
            <input class="btn" type="submit" value="Update"/>
            <input type="hidden" name="next" value="/"/>
        </div>
    </form> -->
</div>
{% endblock %}
