<!-- Extend base file -->
{% extends "base.html" %}

<!-- Load static files -->
{% load static %}

<!-- Create title -->
{% block title %}
    Broadway - Profile
{% endblock %}

<!-- Load assets -->
{% block assets %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

<!-- Main content -->
{% block content %}
<div class="container">
    <div class="section transparent profile-outer">
        <div class="profile profile-picture">
            <img src="{% static 'assets/user_images/default.png' %}">
        </div>
        <div class="profile profile-data">
            <h1 class="username">{{user.username}}</h1>
            <p class="data-outer">
                {{ profile.bio }}
            </p>
            <p class="data-outer">
                <span class="data"><span class="interactions">{{ profile.followers }}</span> followers</span>
                <span class="data"><span class="interactions">{{ profile.following }}</span> following</span>
                <span class="data"><span class="interactions">{{ activities.count }}</span> activities</span>
            </p>
        </div>
    </div>
    <div class="btn-container">
        <a href="{% url 'edit' %}" class="btn btn-edit">Edit Profile</a>
    </div>
</div>
<div class="container small">
    {% for activity in activities %}
        <div class="section">
            {% if activity.movie %}
            {% else %}
                <a href="/u/{{ activity.main_user }}">{{ activity.main_user }}</a>
                {{ activity.activity_type }}
                <a href="/u/{{ activity.activity_user }}">{{ activity.activity_user }}</a>
                at {{ activity.created_at }}
            {% endif%}
        </div>
    {% endfor %}
</div>
{% endblock %}
