<!-- Extend base file -->
{% extends "base.html" %}

<!-- Load static files -->
{% load static %}

<!-- Create title -->
{% block title %}
    Broadway - Register
{% endblock %}

<!-- Load assets -->
{% block assets %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

<!-- Main content -->
{% block content %}
    {% if user.is_authenticated %}
        <!-- Main index page -->
        <div class="login">
            <div class="logo">Broadway</div>
            <div class="form-container">
                <p class="center">You're already logged in.</p>
                <div class="btn-container">
                    <a href="{% url 'logout' %}" class="btn">Logout</a>
                </div>
            </div>
        </div>
    {% else %}
        <div class="login">
            <form action="{% url 'register' %}" method="post">
                <div class="logo">Broadway</div>
                <div class="form-container">
                    <form method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        {% if form.username.errors %}
                            {{ form.username.errors }}
                        {% endif %}
                        {{ form.username }}
                        {% if form.email.errors %}
                            {{ form.email.errors }}
                        {% endif %}
                        {{ form.email }}
                        {% if form.password1.errors %}
                            {{ form.password1.errors }}
                        {% endif %}
                        {{ form.password1 }}
                        {% if form.password2.errors %}
                            {{ form.password2.errors }}
                        {% endif %}
                        {{ form.password2 }}
                        <div class="btn-container button-group">
                            <input class="btn" type="submit" value="Register"/>
                            <input type="hidden" name="next" value="/"/>
                            <a href="{% url 'login' %}" class="btn accent">Login</a>
                        </div>
                    </form>
                </div>
            </form>
        </div>
    {% endif %}
{% endblock %}
